{% load static %} 

  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   
    
    <link rel="stylesheet" href=" {% static 'base/css/table.css' %} " />
    
  
  </head>


  </table>

  <h1><span class="blue"></span>Matches<span class="blue"></span></h1>
 
  {% for week in weeks %}
  <h3>Week {{ week.number }}</h3>
  <ul>
    {% for match in week.match_set.all %}
      <style>
        table {
          margin: 20px auto;
          border-collapse: collapse;
          width: 80%;
        }
        td, th {
          border: 1px solid #ccc;
          padding: 10px;
          text-align: center;
          width: 20%;
        }
      </style>
      <table>
        {% if forloop.first %}
        <tr>
          <th></th>
          <th>Singles 1 Score</th>
          <th>Singles 2 Score</th>
          <th>Doubles Score</th>
          <th>Winner</th>
        </tr>
        {% endif %}
        <tr>
          <td>{{ match.team1 }} vs {{ match.team2 }}</td>
          <td>{{ match.singles1_score }}</td>
          <td>{{ match.singles2_score }}</td>
          <td>{{ match.doubles_score }}</td>
          <td>{{ match.winner }}</td>
        </tr>
      </table>
    {% endfor %}
  
{% endfor %}