
  {% load static %} 

  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   
    
    <link rel="stylesheet" href=" {% static 'base/css/table.css' %} " />
    
  
  </head>


  </table>

  <h1><span class="blue"></span>SCOREBOARD<span class="blue"></span></h1>
 
  <table class="container">
    <tr> 
      <th>Team</th>
      <th>Score</th>
    </tr>
    {% for scoreboard in object_list %}
    <tr>
      <td>{{scoreboard.team}}</td>
      <td>{{scoreboard.total}}</td>
    </tr>
  {% endfor %}